<template>
    <div class="dropdown-menu">
        <div class="menu-cover">
            <ul class="secondary-menu" v-for="secondary in data.items" :key="`secondary-${secondary.id}`">
                <li class="secondary-item">
                    <a :href="secondary.url" :class="['secondary-link', secondary.class]">{{ secondary.text }}</a>

                    <ul class="tertiary-menu" v-if="secondary.items && secondary.items.length">
                        <li class="tertiary-item" v-for="tertiary in secondary.items" :key="`tertiary-${tertiary.id}`">
                            <a :href="tertiary.url" :class="['tertiary-link', tertiary.class]">{{ tertiary.text }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['data']
    }
</script>
