<template>
    <li :class="['nav-item', { 'active': data.active, 'dropdown-open': dropdownOpen }]">
        <div class="nav-link-cover">
            <a :class="['nav-link', data.class]" :href="data.url">{{ data.text }}</a>

            <button type="button" class="nav-link-collapse" @click="dropdownOpen = !dropdownOpen" v-if="data.items && data.items.length">
                <!-- Šeit izmantotu svg-inline-loader -->
                <svg width="6" height="10" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.586 5L.293 1.707A1 1 0 1 1 1.707.293l4 4a1 1 0 0 1 0 1.414l-4 4A1 1 0 1 1 .293 8.293L3.586 5z" fill="#6C6D76" fill-rule="nonzero"/>
                </svg>
            </button>
        </div>

        <transition @before-enter="$beforeEnter" @before-leave="$beforeLeave" @after-enter="$afterEnter">
            <div class="dropdown-cover" v-show="dropdownOpen">
                <dropdown :data="data" v-if="data.items && data.items.length"/>
            </div>
        </transition>
    </li>
</template>

<script>
    import Accordion from '@/mixins/Accordion'
    import Dropdown from './Dropdown'

    export default {
        props: ['data'],

        mixins: [Accordion],

        data() {
            return {
                dropdownOpen: false
            }
        },

        components: { Dropdown },

        methods: {
            closeDropdown() {
                this.dropdownOpen = false
            }
        }
    }
</script>
