<template>
    <div class="nav-bar-cover">
        <div class="container">
            <nav class="nav-bar">
                <button :class="['nav-bar-toggler', { 'nav-bar-open': open }]" type="button" @click="closeMenu">
                    <span class="line-1"></span>
                    <span class="line-2"></span>
                    <span class="line-3"></span>
                </button>

                <transition @before-enter="$beforeEnter" @before-leave="$beforeLeave" @after-enter="$afterEnter">
                    <div class="nav-bar-collapse" v-show="open">
                        <ul class="nav-bar-nav">
                            <nav-item v-for="main in items" :data="main" ref="item" :key="`main-${main.id}`"/>
                        </ul>
                    </div>
                </transition>
            </nav>
        </div>
    </div>
</template>

<script>
    import Accordion from '@/mixins/Accordion'
    import Item from './Item'

    export default {
        props: {
            items: {
                type: Array,
                required: true
            }
        },

        mixins: [Accordion],

        components: { 'nav-item': Item },

        data() {
            return {
                open: false
            }
        },

        methods: {
            closeMenu() {
                this.open = !this.open

                // Close all child dropdowns when main nav closes
                if (!this.open) {
                    this.$refs.item.forEach(item => item.closeDropdown())
                }
            }
        }
    }
</script>

<style lang="scss">
    @function rem($pixels, $context: 16px) {
        @return ($pixels/ $context) * 1rem;
    }

    .nav-bar-cover {
        border-bottom: 1px solid #1c4a72;
    }

    .container {
        max-width: 991px;
        margin: 0 auto;
    }

    .nav-bar {
        padding: 0;
        display: flex;

        @media only screen and (max-width: 768px) {
            padding: 10px;
            flex-direction: column;
        }

        .nav-bar-toggler {
            padding: 10px;
            border: 0;
            outline: 0;
            position: relative;
            border-radius: 0 !important;
            display: none;
            flex-direction: column;
            margin-left: auto;

            @media only screen and (max-width: 768px) {
                display: flex;
            }

            &.nav-bar-open {
                .line-1 {
                    transform: translateY(7px) rotate(45deg);
                }

                .line-2 {
                    opacity: 0;
                }

                .line-3 {
                    transform: translateY(-7px) rotate(-45deg);
                }
            }

            @for $i from 1 through 3 {
                .line-#{$i} {
                    width: 24px;
                    height: 2px;
                    background-color: #000;
                    display: flex;
                    transition: all .2s;
                    opacity: 1;
                }
            }

            .line-2 {
                margin: 5px 0;
            }
        }

        .nav-bar-collapse {
            transition: height .4s;
            overflow: hidden;
            width: 100%;

            @media only screen and (min-width: 769px) {
                height: auto !important;
                display: block !important;
                overflow: visible;
            }
        }

        .nav-bar-nav {
            padding: 0;
            display: flex;
            list-style: none;
            margin: 0;
            width: 100%;
            position: relative;

            @media only screen and (max-width: 768px) {
                flex-direction: column;
                padding-top: rem(10px);
            }

            .nav-item {
                border-top: 1px solid darkgrey;
                border-bottom: 1px solid darkgrey;
                margin-top: -1px;
                overflow: hidden;

                &.dropdown-open {
                    .nav-link-collapse svg {
                        transform: rotate(180deg);
                    }
                }

                &.active .nav-link {
                    text-decoration: underline;
                }

                @media only screen and (min-width: 769px) {
                    margin: 0 rem(5px);
                    border: 0;

                    &:hover .dropdown-cover {
                        display: block !important;
                    }
                }

                .dropdown-cover {
                    transition: height .4s;
                    overflow: hidden;
                    display: block;
                    border-top: 1px solid darkgrey;
                    margin: 0;
                    position: relative;
                    width: 100%;
                    left: 0;
                    background-color: #fff;

                    @media only screen and (min-width: 769px) {
                        display: block;
                        position: absolute;
                        border: 0;
                    }
                }

                .dropdown-menu {
                    border-top: 1px solid #1c4a72;
                    border-bottom: 1px solid #1c4a72;
                    padding: rem(30px) 0;
                    display: flex;
                    width: 100%;
                    border-radius: 0;

                    @media only screen and (max-width: 768px) {
                        border: 0;
                    }

                    .menu-cover {
                        max-width: 900px;
                        margin: 0 auto;
                        padding: 0 rem(5px);
                        columns: 3 auto;
                        column-gap: 0;
                        width: 100%;

                        @media only screen and (max-width: 768px) {
                            column-count: 2;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }

                .secondary-menu {
                    padding: rem(7px) rem(10px) rem(27px) rem(10px);
                    list-style: none;
                    break-inside: avoid;
                    page-break-inside: avoid;
                    position: relative;
                    overflow: hidden;

                    &:before {
                        content: '';
                        width: 1px;
                        height: 100%;
                        background-color: #000;
                        display: flex;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    .secondary-link {
                        color: #1c4a71;
                        text-transform: uppercase;
                        font-weight: 700;
                        letter-spacing: rem(.4px);
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .tertiary-menu {
                    padding: 0;
                    list-style: none;
                    margin-top: rem(15px);

                    .tertiary-link {
                        color: #000;
                        font-weight: 500;
                        font-size: rem(14px);
                        letter-spacing: rem(.4px);
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .tertiary-item {
                        + .tertiary-item {
                            margin-top: rem(9px);
                        }
                    }
                }
            }

            .nav-link-cover {
                @media only screen and (min-width: 769px) {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }

                @media only screen and (max-width: 768px) {
                    display: flex;
                }

                .nav-link-collapse {
                    flex: 0 0 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    background-color: transparent;
                    border: 0;
                    outline: 0;

                    @media only screen and (min-width: 769px) {
                        display: none;
                    }

                    &:before {
                        content: '';
                        width: 1px;
                        height: 60%;
                        background-color: darkgrey;
                        position: absolute;
                        left: 0;
                        display: flex;
                    }

                    svg {
                        transform: rotate(90deg);
                        transition: transform .3s;
                    }
                }
            }

            .nav-link {
                flex: 0 1 auto;
                width: 100%;
                text-transform: uppercase;
                font-weight: 500;
                font-size: rem(14px);
                color: #333333;
                padding: rem(37px) rem(11px);
                letter-spacing: rem(.8px);
                text-decoration: none;
                overflow: hidden;
                text-overflow: ellipsis;

                @media only screen and (max-width: 768px) {
                    padding: rem(16px);
                }

                &:hover {
                    text-decoration: underline;
                }

                &.highlighted {
                    color: #b1281e;
                }
            }
        }
    }
</style>
