<template>
    <div id="app">
        <navigation :items="navigation"/>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import Navigation from './components/navigation/Layout'

    export default {
        components: { Navigation },

        computed: {
            ...mapState({
                navigation: state => state.navigation
            })
        }
    }
</script>
